<!doctype html>
<html>
<head>
	<title>Trip Planner!</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTUdflXHO_CbMxEUReVsr02OOzYa9BAvc&sensor=true"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="gmaps.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" href="index.css">

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default navar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
  			<span class="glyphicon glyphicon-fire glyphicon-align-left navbar-brand" aria-hidden="true"></span>
  			<a href="/" class="navbar-brand">Trip Planner!</a>
  			<button type="button" class="btn btn-default navbar-btn">Sign In</button>
		</div>
	</div>
</nav>

<!-- row -->
	<!-- outer container / columns  -->
	<div class="container">
		<div class="row">
				<div class="col-sm-8">			
					<div id="map-canvas"></div>
				</div>

				<div class="col-sm-4 ui-container">
				<!-- ui -->
						<div class="row selectors">
					<!-- hotel,restaurant,thing -->
							<div class="col-lg-12">

							{% block content %}
								<h1 class = "selections">Selections</h1>
							  <p>Hotels:</p>
							  <select name="Hotel">
							  	{% for hotel in all_hotels %}
							    	<option value={{ hotel.name }}>{{ hotel.name }}</option>
									{% endfor %}
								</select>
								<p>Restaurants:</p>
							  <select name="Restaurants">
							  	{% for restaurant in all_restaurants %}
							    	<option value={{ restaurant.name }}>{{ restaurant.name }}</option>
									{% endfor %}
								</select>
								<p>Activities:</p>
							  <select name="Activity">
							  	{% for activity in all_activities %}
							    	<option value={{ activity.name }}>{{ activity.name }}</option>
									{% endfor %}
								</select>
							{% endblock %}

							</div>
						</div>
							
						<div class="row plans">
							<!-- day plans -->
							<div class="col-lg-12">
								<div class="row">
								<!-- day number selector -->
									<button class="dayButton btn btn-lg btn-info">1</button>
									<button class="dayButton btn btn-lg btn-info">2</button>
									<button class="dayButton btn btn-lg btn-info">3</button>
									<button class="dayButton btn btn-lg btn-info">4</button>
								</div>
								<div class = "row">
								<!-- day events here -->
									<h2>My Hotel</h2>
									<h2>My Restaurant</h2>
									<h2>My Activity</h2>
								</div>
							</div>
						</div>
							</div>
						</div>

				</div>

		</div>
	</div>

</body>
</html>