body {
  background-color: brown; }

.dayButton {
  border-radius: 50px; }

.selectors {
  background-color: #FFCC66;
  padding: 20px; }

.plans {
  background-color: #33CC33;
  height: 100%;
  padding: 20px; }

.selectors, .plans, #map-canvas {
  border-radius: 30px; }

#map-canvas {
  height: 85vh; }

.ui-container {
  height: 85vh; }
