body {
  background-color: brown; }

.dayButton {
  border-radius: 50px; }

.selectors {
  background-color: #FFCC66;
  padding: 20px;
  margin-bottom: 30px;
  height: 45%; }

.selections {
  margin: 0px; }

.plans {
  background-color: #33CC33;
<<<<<<< HEAD
  padding: 20px;
  height: 45%;
  vertical-align: bottom; }
=======
  height: 100%;
  padding: 20px; }
>>>>>>> 50331a6c9cae39c9c42eb755db312aa3d70b2556

.selectors, .plans, #map-canvas {
  border-radius: 30px; }

#map-canvas {
  height: 85vh; }

.ui-container {
  height: 85vh; }
