body {
	height: 100%
}

.dayButton {
	border-radius: 50px;
}

.selectors{
	background-color: #FFCC66;
	padding: 20px;
	margin-bottom: 30px;
	height: 45% 
}

.selections {
	margin: 0px;
}

.plans{
	background-color: #33CC33;
	padding: 20px;
	height: 45%;
	vertical-align: bottom;
}

.col-sm-8 {

}

.col-sm-4 {

}


#map-canvas {
	height: 85vh;
}

.ui-container{
	height: 85vh;
}

